@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');

* {
  box-sizing: border-box;
  color: #EEEEEE;
  font-family: 'Helvetica';
}

.navbar-collapse, .nav-link {
  background-color: #343A40 !important;
  color: #EEEEEE;
}

.navbar-brand {
  color: #ffc107 !important;
  font-family: 'Roboto Condensed', sans-serif !important; 
}
